parameters:
    level: 9
    paths:
        - bin/
        - config/
        - public/
        - src/
        - tests/
    checkTooWideReturnTypesInProtectedAndPublicMethods: true
    checkUninitializedProperties: true
    checkImplicitMixed: true
    checkBenevolentUnionTypes: true
    reportAlwaysTrueInLastCondition: true
    checkMissingOverrideMethodAttribute: true
    treatPhpDocTypesAsCertain: false
    exceptions:
        check:
            missingCheckedExceptionInThrows: true
            tooWideThrowType: true
